@import "../../vendor/bower-asset/bootstrap/less/variables.less";

@color-black: #373737;
@color-theme: #000000;
@color-theme-dark: darken(@color-theme, 20%);
@color-theme-light: lighten(@color-theme, 20%);
@color-theme-opacity: fade(@color-theme, 50%);