@charset "UTF-8";
/**
 * line-clamp
 */
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic";
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}
.line-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}
.line-clamp-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
}
/**
 * flex-center
 */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/**
 * transition-theme
 */
.transition-theme {
  transition: 0.2s all linear;
}
.relative {
  position: relative;
}
/**
 * list-no-style
 */
.list-no-style {
  margin: 0;
  padding: 0;
  list-style: none;
}
/**
 * no-border-radius
 */
.no-border-radius {
  border-radius: 0;
}
/**
 * no-padding
 */
.no-padding {
  padding: 0;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
/*************************
 * default tags
 *************************/
html {
  overflow-y: scroll;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
}
*,
*:focus,
*:hover,
*:active,
*:visited {
  outline: none !important;
}
/*************************
 * classes theme
 *************************/
/**
 * btn-theme
 */
.btn-theme {
  background-color: #000000;
  color: white !important;
}
.btn-theme:hover,
.btn-theme:active,
.btn-theme:focus {
  background-color: #000000;
  color: white !important;
}
/**
 * modal-theme
 */
.modal-theme .modal-dialog .modal-content {
  border-radius: 0;
  box-shadow: none;
}
/**
 * breadcrumb-theme
 */
.breadcrumb-theme {
  border-radius: 0;
  background-color: #f1f1f1;
}
.breadcrumb-theme a {
  color: black;
}
/**
 * pagination-theme
 */
.pagination-theme a {
  color: #000000 !important;
}
.pagination-theme li.active a {
  background-color: #000000 !important;
  border-color: transparent !important;
  color: white !important;
}
/*************************
 * classes default
 *************************/
/**
 * main-heading
 */
.main-heading {
  border-left: 15px solid #000000;
  border-bottom: 1px solid #000000;
  padding-left: 10px;
}
@media (max-width: 991px) {
  .main-heading {
    font-size: 20px;
  }
}
/**
 * section-heading
 */
.section-heading {
  border-bottom: 1px solid #333333;
}
@media (max-width: 991px) {
  .section-heading {
    font-size: 18px;
  }
}
/**
 * text-content
 */
.text-content {
  line-height: 23px;
}
.text-content,
.text-content * {
  font-family: inherit !important;
}
.text-content img {
  max-width: 100%;
}
.text-content table {
  width: 100%;
}
.text-content table td,
.text-content table th {
  border: 1px solid #000000;
  padding: 3px;
}
.text-content table tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
footer,
.push {
  height: 52px;
  /* .push must be the same height as .footer */
}
.footer-content {
  border: 1px solid #e7e7e7;
  border-bottom: none;
  background: #f8f8f8;
  line-height: 49px;
}
#page-install h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  color: #555;
  margin: 50px 0 30px 0;
}
#page-install h1 a {
  display: inline-block;
  color: #7DB4B5;
  border-bottom: 1px solid #7DB4B5;
}
#page-install h1 a:hover,
#page-install h1 a:focus {
  color: #7DB4B5;
  border-color: #fff;
  text-decoration: none;
}
#page-install h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
#page-install .tooltip {
  min-width: 200px;
}
#page-install .tooltip .tooltip-inner {
  font-size: 12px;
  text-align: left;
  padding: 5px 8px 5px 10px;
}
#page-install .panel .recaptcha-tip {
  margin-bottom: 20px;
}
/*Form Wizard*/
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}
.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #fbe8aa;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #fbbd19;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #fbe8aa;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}
/*END Form Wizard*/
#wrapper {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -52px;
  /* the bottom margin is the negative value of the footer's height */
}
#wrapper nav {
  margin-bottom: 0;
  border-radius: 0;
}
.small-muted {
  font-size: 12px;
  color: #AAA;
}
.container-two-column {
  overflow: hidden;
}
.container-two-column .left-side {
  width: 300px;
  float: left;
}
@media (max-width: 991px) {
  .container-two-column .left-side {
    float: none;
    width: 100%;
  }
}
.container-two-column .right-side {
  margin-left: 300px;
}
@media (max-width: 991px) {
  .container-two-column .right-side {
    margin-left: 0px;
  }
}
.container-two-column .right-side .right-side-container {
  padding: 0 0 0 15px;
}
/**
 * section-callback
 */
.section-callback form {
  padding: 38px 28px 28px 28px;
  margin: 50px 0 0 0;
  background: black;
  background: linear-gradient(#dbe6f3, black);
  position: relative;
}
.section-callback form > * {
  position: relative;
}
.section-callback form:before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background: #fff;
}
.section-callback form:after {
  content: "";
  display: block;
  width: 215px;
  height: 264px;
  overflow: hidden;
  background: url(../images/frm-question.png) 0 0;
  position: absolute;
  bottom: 0;
  right: 40px;
}
.section-callback form h3 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 26px;
  color: #3a3939;
  margin-right: 250px;
  line-height: 30px;
}
@media only screen and (max-width: 991px) {
  .section-callback form h3 {
    font-size: 1.17em;
    line-height: 1.1;
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
  }
}
.section-callback form .frm-block {
  overflow: hidden;
  margin-right: 250px;
}
@media only screen and (max-width: 991px) {
  .section-callback form .frm-block {
    margin-bottom: 240px;
    margin-right: 0px;
    text-align: center;
  }
}
.section-callback form .frm-block .item {
  padding-right: 30px;
  display: block;
  float: left;
  margin: 0 0 26px 0;
}
@media only screen and (max-width: 991px) {
  .section-callback form .frm-block .item {
    padding-right: 0px;
    float: none;
  }
}
/**
 * item-gallary
 */
.item-gallary {
  margin-bottom: 15px;
  display: block;
  border: 1px solid #000000;
  position: relative;
}
.item-gallary img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.item-gallary:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/Zoom.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
}
.item-gallary:before {
  content: ' ';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.28);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s linear;
}
.item-gallary:hover:before {
  opacity: 1;
}
/**
 * slider-partners
 */
.slider-partners .item img {
  height: 40px;
  width: auto;
}
